<a href="/holidays/{{ this.id }}">
  <div
    class="card shadow-xl theme-{{ get_theme this.name }} bg-primary text-accent border-4 border-secondary flex flex-col justify-between h-full">
    <div class="card-body">
      <h2 class="card-title text-2xl mb-3">{{this.name}}</h2>
      <p>{{ this.description }}</p>
      <div class="card-actions justify-end">
        {{#if this.delete_permission}}
        <button class="btn bg-secondary text-primary" onclick="deleteHoliday({{ this.id }})">Delete Holiday</button>
        {{/if}}
      </div>
    </div>
  </div>
</a>