<div class="flex gap-4 pt-10">
  <div class="self-center">
    <h2 class="font-bold text-4xl pb-2">{{ holiday.name }}</h2>
    <p class="mb-12">{{ holiday.description }}</p>
    {{#if taggedMovies}}
    <h3 class="ml-4 text-3xl">Movies: </h3>
    {{#each taggedMovies}}
    {{> holidb-movie-summary}}
    {{/each}}
    {{/if}}
  </div>
</div>

{{!-- <div class="bg-secondary text-primary flex">
  {{#each allMovies}}
  {{#if (no_dupes this.title ../taggedMovies)}}
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="">{{ this.title }}</span>
      <input type="checkbox" class="checkbox" />
    </label>
  </div>
  {{else}}
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="">{{ this.title }}</span>
      <input type="checkbox" checked="checked"  class="checkbox" />
    </label>
  </div>
  {{/if}}
  {{/each}}
</div> --}}